- var title = 'ページ名'
- var description = 'ディスクリプション'
- var keywords = 'キーワード'
- var url = 'url'


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta name="format-detection" content="telephone=no">
<title>#{title}</title>
<meta name="description" content="#{description}">
<meta name="keywords" content="#{keywords}">
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="タッチアイコン画像へのパス">
<meta property="og:url" content="#{url}">
<meta property="og:type" content="website">
<meta property="og:title" content="#{title}">
<meta property="og:description" content="#{description}">
<meta property="og:site_name" content="#{title}">
<meta property="og:image" content="/img/">
<meta name="twitter:card" content="summary_large_image">
link(rel='stylesheet', href='/css/common.min.css')